@define-color highlight #3daee9;
@define-color base1  #31363b;
@define-color base2 #31363b;
@define-color base3  #31363b;


*{
    font-family: NotoSans;
}

window {
	border: 2px solid @highlight;
}

#input {
    margin-bottom: 15px;
    padding:2px;
    border-radius: 2px;
    border:none;
    color: white;
}

#inner-box {
    background-color: @base3;

}

#outer-box {
    margin: 2px;
    padding:15px;
    background-color: @base2;
}

#scroll {
}

#text {
padding: 5px;
color: white;
}

#entry:nth-child(even){
    background-color: @base1;
}

#entry:selected {
    background-color: @highlight;
}

#text:selected {
}
