/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
}

/* The whole bar */
#waybar {
    background: #31363b;
    color: white;
    font-family: Cantarell, Noto Sans, sans-serif;
    font-size: 13px;
}

#workspaces button {
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    color: #ffffff;
}

#workspaces button.focused {
    border-bottom: 3px solid #3daee9;
    color: white;
    background-color: #31363b;
}

#workspaces button.urgent {
    border-color: #c9545d;
    color: #c9545d;
}

#custom-weather,
#clock,
#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#custom-media,
#custom-keyboard-layout,
#tray,
#mode,
#idle_inhibitor,

#custom-weather {
    border-bottom: 3px solid #3daee9;
}

#clock {
    border-bottom: 3px solid #3daee9;
}

#battery {
    background-color: #ffffff;
    color: #000000;
}

#battery.charging {
    color: #ffffff;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    border-bottom: 3px solid #3daee9;
}

#memory {
    border-bottom: 3px solid #3daee9;
}

#network {
    border-bottom: 3px solid #3daee9;
}

#network.disconnected {
    background-color: #f53c3c;
}

#pulseaudio {
    border-bottom: 3px solid #3daee9;
}

#pulseaudio.muted {
    border-bottom: 3px solid #3daee9;
}

#custom-keyboard-layout {
    border-bottom: 3px solid #3daee9;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#tray {
    border-bottom: 3px solid #3daee9;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}
